:root {
  /* 管理头衔颜色变量 */
  --badge-fill-owner: #f2bf25;
  --badge-fill-admin: #72d6a0;
  /* 头像各项参数 */
  --avatar-size: 40px;
  --avatar-margin: 8px;
  --avatar-border-width: 2px;
}

/* 全局 */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

/* 聊天框 */
.message {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  overflow: hidden auto;
  height: 100%;
  position: relative;
}

/* 消息 */
.msg {
  display: flex;
}
.left {
  flex-direction: row;
}
.right {
  flex-direction: row-reverse;
}

/* 头像 */
.msg > .avatar {
  height: var(--avatar-size);
  width: var(--avatar-size);
  border-radius: 50%;
  margin: var(--avatar-margin);
  border: var(--avatar-border-width) solid;
}

/* 消息主体 */
.msg > .container {
  display: flex;
  flex-direction: column;
  margin: 1px 0;
  max-width: calc(
    100% - 2 *
      (
        var(--avatar-size) + var(--avatar-margin) * 2 +
          var(--avatar-border-width)
      )
  );
}
.left > .container {
  align-items: flex-start;
}
.right > .container {
  align-items: flex-end;
}

/* 消息头 */
.msg .header {
  display: flex;
}
.left .header {
  text-align: left;
  flex-direction: row;
}
.right .header {
  text-align: right;
  flex-direction: row-reverse;
}

/* 消息头所有内容 */
.header > vscode-tag {
  margin: 2px;
  vertical-align: middle;
}

/* 消息内容 */
.msg .content {
  word-wrap: break-word;
  word-break: break-all;
  text-align: left;
  position: relative;
  padding: 4px 6px;
  line-height: 20px;
  white-space: pre-wrap;
  border-radius: 10px;
  border: 1px solid;
}

.content vscode-link {
  white-space: normal;
}

/* 输入框 */
.chat {
  border-top: 1px solid;
}

.tool-box,
.input-box {
  display: flex;
}

.tool-box > vscode-button {
  margin: 2px;
}

.input {
  flex: 1;
  padding: 4px 6px;
  border-radius: 10px;
  border: 1px solid;
}

.send {
  padding: 4px;
}
