/* 登录界面的样式表 */

/* 页面结构纵向排列 */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > * {
  margin: 8px;
  max-width: 200px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

form > * {
  margin: 10px auto;
  width: 100%;
}

div {
  display: flex;
}

div {
  justify-content: space-between;
}

vscode-button#login {
  width: 100%;
  margin-right: 10px;
}

vscode-option#qrcode > span {
  margin: 5px;
}
