body {
  display: flex;
  flex-direction: column;
}

body > * {
  margin: 8px auto;
  max-width: 200px;
  width: 100%;
}

div {
  display: flex;
  justify-content: space-between;
}

#desc {
  font-size: initial;
  width: auto;
}

#status {
  align-items: center;
}

#status > * {
  margin: 0;
}
