/* 全局设置 */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* 聊天区域 */
.chat-box {
    padding: 0;
    width: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-box .cmsg {
    position: relative;
    margin: 4px 7px;
    min-height: 50px;
    border: 0;
}

.chat-box .cright {
    text-align: right;
    margin-left: 64px;
}

.chat-box .cleft {
    text-align: left;
    margin-right: 64px;
}

/* 聊天组件：全局 */
/* 头像 */
.chat-box img.headIcon {
    width: 34px;
    height: 34px;
    top: 9px;
    position: absolute;
    border: 1px solid var(--vscode-input-foreground);
}

/* 昵称 */
.chat-box .name {
    color: var(--vscode-input-foreground);
    font-size: 12px;
    display: block;
    line-height: 18px;
}

/* 头衔 */
.chat-box .name .htitle {
    display: inline-block;
    padding: 0 3px;
    background-color: #aaa;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-right: 4px;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    max-width: 50px;
}

/* 消息内容 */
.chat-box .content {
    word-break: break-all;
    word-wrap: break-word;
    text-align: left;
    position: relative;
    display: inline-block;
    font-size: 16px;
    padding: 10px 15px;
    line-height: 20px;
    white-space: pre-wrap;
    /* 空白消息 */
    min-width: 9px;
    min-height: 18px;
}

/* 消息内容超链接处理 */
.chat-box .content a {
    color: var(--vscode-editorLink-activeForeground);
    margin: 0 2px;
    cursor: hand;
    text-decoration: none;
}

/* 聊天提示条 */
.chat-box .tips {
    margin: 12px;
    text-align: center;
    font-size: 12px;
}

/* 聊天提示条文本 */
.chat-box .tips span {
    display: inline-block;
    padding: 4px;
    background-color: #aaa;
    color: #fff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

/* 聊天组件：微调 */
/* 圆角头像 */
.chat-box img.radius {
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    border-radius: 20%;
}

/* 左右头像 */
.chat-box .cright img.headIcon {
    right: 0;
}

.chat-box .cleft img.headIcon {
    left: 0;
}

/* 左右昵称 */
.chat-box .cright .name {
    margin: 0 48px 2px 0;
}

.chat-box .cleft .name {
    margin: 0 0 2px 48px;
}

/* 左右聊天气泡 */
.chat-box .cright .content {
    margin: 0 48px 0 0;
    border-radius: 20px 0 20px 20px;
    border: 2px solid var(--vscode-quickInputTitle-background);
    background: var(--vscode-sideBar-background);
}

.chat-box .cleft .content {
    margin: 0 0 0 48px;
    border-radius: 0 20px 20px 20px;
    border: 2px solid var(--vscode-quickInputTitle-background);
    background: var(--vscode-sideBar-background);
}

.chat-box .cright .content:after {
    right: -12px;
    top: 8px
}

.chat-box .cleft .content:after {
    left: -12px;
    top: 8px
}

/* 聊天提示条附加样式 */
.chat-box .tips .tips-primary {
    background-color: #3986c8
}

.chat-box .tips .tips-success {
    background-color: #49b649
}

.chat-box .tips .tips-info {
    background-color: #5bb6d1
}

.chat-box .tips .tips-warning {
    background-color: #eea948
}

.chat-box .tips .tips-danger {
    background-color: #e24d48
}

/* 特殊头衔 */
.chat-box .name .admin {
    background-color: #72D6A0
}

.chat-box .name .owner {
    background-color: #F2BF25
}

/* 表情 */
.face {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

/* 弹出框 */

.chat-box .name b.operation {
    cursor: pointer;
    background-color: var(--vscode-editor-background);
    padding: 0 2px;
    color: var(--vscode-editor-foreground);
}

.chat-box .name b.operation:hover {
    background-color: var(--vscode-focusBorder);
}


/* 图片居中放大 */

/* 图片背景蒙板 */
.large-img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    position: fixed;
    z-index: 10;
    display: none;
}

/* 放大的图片 */
.large-img img {
    margin: auto;
}

.menu-option {
    position: fixed;
    display: none;
    z-index: 100;
    border: solid 1px var(--vscode-input-foreground);
    width: 100px;
    opacity: 0.85;
}

.menu-option hr {
    background-color: var(--vscode-sideBar-background);
    height: 2px;
    border-top: ridge 1px var(--vscode-input-foreground);
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    margin: 0;
}

.menu-option div {
    cursor: pointer;
    background-color: var(--vscode-sideBar-background);
    padding: 2px;
}

.menu-option div:hover {
    background-color: var(--vscode-input-foreground);
    color: var(--vscode-editor-background);
}

.msg-forward p {
    color: var(--vscode-input-foreground);
}

.jsonMsgTitle {
    font-weight: bold;
    font-size: 20px;
}